.aboutus {
  width: calc(100vw - 15rem);
  padding: 10rem 10rem 15rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.25rem;
  }
}

@media (max-width: 700px) {
  .aboutus {
    width: 100vw;
    padding: 4rem 3rem;
  }
}
