.additem {
  background-color: #f4f9f4;
  padding: 5rem;
  color: black;
  width: calc(100vw - 15rem);
  div {
    textarea {
      background: white;
      color: black;
    }
  }
}

@media (max-width: 700px) {
}
