.container {
  display: flex;
  flex-direction: column;
  background-color: #f4f9f4;
  align-items: center;
  justify-content: center;
}

.bin {
  width: calc(100vw - 15rem);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.checkout {
  height: 10rem;
  padding-top: 3rem;
  display: flex;
  width: 30vw;
  margin: 2rem auto;
  // align-items: center;
  justify-content: space-around;
  // font-size: 1.2rem;
  h2 {
    // border: 1px solid black;
  }
}
.sum {
  border-top: 1px solid black;
}

.bin_item {
  text-align: center;
  button {
    margin-top: 2rem;
    transition: all 0.3s ease;
    padding: 1rem;
    &:hover {
      background: rgb(229, 226, 226);
    }
  }
}

.form {
  // border: 1px solid red;
  // margin-left:
  width: 20vw;
  height: 20rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  input {
    border: 1px solid black;
  }
  input:last-child {
    margin-top: 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
    &:hover {
      background: rgba(0, 0, 0, 0.445);
      color: white;
    }
  }
}

.checkout {
  width: 20rem;
}

@media (max-width: 700px) {
  .container {
    padding-top: 5rem;
  }
  .bin {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .form {
    width: 50vw;
  }
}
