.container {
  display: flex;
  flex-direction: column;
  background-color: #f4f9f4;
}

.bin {
  width: calc(100vw - 15rem);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.checkout {
  border: 1px solid blue;
  display: flex;
  width: 30vw;
  margin: 2rem auto;
  justify-content: space-around;
}
