.container {
  display: flex;
  flex-direction: column;
  background-color: #f4f9f4;
}

.bin {
  width: calc(100vw - 15rem);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.checkout {
  height: 10rem;
  padding-top: 3rem;
  display: flex;
  width: 30vw;
  margin: 2rem auto;
  // align-items: center;
  justify-content: space-around;
  // font-size: 1.2rem;
  h2 {
    // border: 1px solid black;
  }
}
.sum {
  border-top: 1px solid black;
}

.bin_item {
  text-align: center;
  button {
    margin-top: 2rem;
    transition: all 0.3s ease;
    padding: 1rem;
    &:hover {
      background: rgb(229, 226, 226);
    }
  }
}
