.item {
  width: 20rem;
  height: 20rem;
  color: white;
  z-index: 2;
  //   background-color: rgba(128, 128, 128, 0.237);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.image {
  border-radius: 10px;
}
