.item {
  margin-top: 5rem;
  width: 20rem;
  min-width: 0;
  height: 30rem;
  color: #416260;
  z-index: 2;
  // background-color: rgba(128, 128, 128, 0.413);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.043);
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.025);
  }

  h1 {
    font-size: 1.1rem;
  }
  h2,
  button {
    font-size: 0.9rem !important;
  }

  button {
    transition: all 0.4s ease;
    &:hover {
      padding: 0.5rem;
      background-color: bisque;
    }
  }
  img {
    cursor: pointer;
  }
}
.image {
  border-radius: 10px;
}

@media (max-width: 700px) {
  .item {
    margin: 2rem auto;
  }
}
