.left {
  width: 15rem;
  background: #005395;
  color: white;
  height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 2rem;
  li {
    font-size: 1.25rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }
}
