.main {
  display: flex;
  color: white;
  height: calc(100vh - 6rem);
  // width: calc(100vw - 15rem);
  background: black;

  .right {
    background-color: #8a3d7b;
    width: calc(100vw - 15rem);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    // align-items: center;
  }
}
