.main {
  display: flex;
  min-height: calc(100vh - 6rem);
  background: black;
  .right {
    background-color: #f4f9f4;
    width: calc(100vw - 15rem);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 4rem;
  }
}
