.modal {
  position: absolute;

  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.534);
  z-index: 1000;
  transition: all 0.4s ease;
  visibility: visible;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_visible {
  visibility: visible;
}
