.navbar_mobile {
  display: none;
  .icon1,
  .icon2,
  .icon3 {
    position: absolute;
    right: 25%;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: black;
    transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
  }

  .icon1 {
    transform: translateY(-8px);
    animation-delay: 100ms;
  }

  .icon3 {
    transform: translateY(8px);
    animation-delay: 250ms;
  }
  .hamburgericon {
    position: absolute;

    height: 60px;
    width: 60px;
    top: 5%;
    right: 3%;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.2);
    // background: green;
    // width: auto;
    // height: 50px;
    // overflow: hidden;
    &:hover {
      // .icon-1 {
      //   transform: rotate(40deg);
      // }
      // .icon-3 {
      //   transform: rotate(-40deg);
      // }
      // .icon-2 {
      //   opacity: 0;
      // }
      transform: scale(1.2);
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }
  }

  .icon1a {
    transform: rotate(40deg) !important;
    position: absolute;
    left: 25%;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: black;
    transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    transform: translateY(-8px);
    animation-delay: 100ms;
  }
  .icon3b {
    transform: rotate(-40deg) !important;
    position: absolute;
    left: 25%;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: black;
    transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    transform: translateY(8px);
    animation-delay: 250ms;
  }
  .icon2c {
    opacity: 0;
    position: absolute;
    left: 25%;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: black;
    transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
  }

  .clear {
    clear: both;
  }

  @keyframes slideIn {
    0% {
      width: 0%;
      // transform: scale(.3);
      opacity: 0;
    }

    100% {
      width: 50%;
      // transform:scale(1);
      opacity: 1;
    }
  }
}

@media (max-width: 600px) {
  .navbar_mobile {
    display: flex;
  }
}

.nav {
  // transform: translateX(0);
  transition: all 0.4s ease;
  // width: 50%;
  opacity: 0;
  position: absolute;
  right: 0;
  width: 15rem;
  height: 15rem;
  background: white;
  z-index: 20;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  .nav_list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-decoration: underline;
  }
}
.nav2 {
  // transform: translateX(0);
  transition: all 0.4s ease;
  // width: 50%;
  position: absolute;
  right: 0;
  width: 15rem;
  height: 30rem;
  background: white;
  z-index: 20;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  .nav_list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-decoration: underline;
  }
}
.leftmenu ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-decoration: underline;
}
